<mat-nav-list>
    <h2 class="mat-subheader">Menu principal</h2>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Inicio
    </a>
    <a mat-list-item routerLink="/login" routerLinkActive="list-item-active">
        <mat-icon>account_circle</mat-icon> Usuarios
    </a>
    <a mat-list-item routerLink="/customer" routerLinkActive="list-item-active">
        <mat-icon>description</mat-icon> Trámites
    </a>
    <a mat-list-item routerLink="/login" routerLinkActive="list-item-active">
        <mat-icon>fingerprint</mat-icon> Firma digital
    </a>
    <a mat-list-item routerLink="/login" routerLinkActive="list-item-active">
        <mat-icon>upload_file</mat-icon> Subir documentos
    </a>
    <a mat-list-item routerLink="/login" routerLinkActive="list-item-active">
        <mat-icon>grading</mat-icon> Seguimientos
    </a>
    <a mat-list-item routerLink="/login" routerLinkActive="list-item-active">
        <mat-icon>snippet_folder</mat-icon> Archivos
    </a>
</mat-nav-list>