mat-card {
    max-width: 400px;
    margin: 6rem auto;
    text-align: center;
}

.header {
    text-align: center;
}

.full-width {
    width: 95%;
}

.button-row {
    padding-top: 20px;
    display: block;
}
  
.aLink {
    text-decoration: none;
}

.hr-row {
    padding: 15px 0;
}

.row-divider {
    width: 50%; 
    padding-top: 10px; 
    padding-bottom: 30px;
}