mat-card {
    max-width: 70%;
    margin: .5em auto;
    text-align: center;
}

.mid-width {
    width: 45%;
    padding-left: 15px;
    padding-right: 15px;
}

.full-width {
    width: 95%;
}

.row-divider {
    width: 50%; 
    padding-top: 10px; 
    padding-bottom: 30px;
}