<div class="container">
    <div class="inner-container mat-elevation-z2">
        <section id="note">
            <table>
                <tr>
                    <td>
                        <span>Aseo Urbano</span><br>Cochabamba-Bolivia
                    </td>
                    <td>
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Registro de Trámite No</span><br>Fecha de registro: 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Solicitante: </span> Fulanito Perez Canqui
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Referencia: </span> Solicitud de aprobación de Contrato de servicios
                    </td>
                </tr>
            </table>
        </section>
        <section id="details">
            <table>
                <tr>
                    <th>De: Origen</th>
                    <th>A: Destino</th>
                    <th>En fecha</th>
                    <th>Instructivo</th>
                    <th>Firmas</th>
                </tr>
                <tr >
                    <td>Fulanito Perez C.<br>Cliente</td>
                    <td>Jose Feliciano M.<br>Encargado de contratos</td>
                    <td>01/07/2021 <br> 09:30</td>
                    <td>Para su revision y aprobación</td>
                    <td>Fulanit Perez C.<br>01/07/2021 - 09:30</td>
                </tr>
                <tr>
                    <td>Jose Feliciano M.<br>Encargado de contratos</td>
                    <td>Humberto Choquetopa A.<br>Jefe de servicio</td>
                    <td>01/07/2021 <br> 09:30</td>
                    <td>Para su aprobación y Firmas</td>
                    <td>Jose Feliciano M..<br>01/07/2021 - 09:40</td>
                </tr>
            </table>
        </section>
    </div>
    <div class="align-button">
        <a routerLink="/forward"><button mat-raised-button color="primary">Reenviar nota</button></a>
        <button mat-raised-button >Finalizar trámite</button>
    </div>
</div>
