<div class="container">
    <div class="inner-container mat-elevation-z2">
        <div class="align-table">
            <table id="table-header">
                <tr>
                    <td><span>Aseo Urbano</span><br>Cochabamba-Bolivia</td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <h1 class="title">Trámite No. {{ noteHeader.sequence }}/{{ noteHeader.year }} </h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td><span>Fecha de registro:</span></td>
                    <td>{{ noteHeader.createdAt }}</td>
                </tr>
                <tr>
                    <td><span>Solicitante: </span></td>
                    <td> {{ noteHeader.user }} </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td><span>Referencia: </span></td>
                    <td>{{ noteHeader.subject }}</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td><span>Documentos adjuntos: </span></td>
                    <td colspan="3">
                        <mat-nav-list fxLayout="row">
                            <mat-list-item *ngFor="let doc of documents" style="width: 25%; height: 25px;">
                                <a matLine (click)="showDocument(doc.docName)">{{ doc.docName }}</a>
                                <button mat-icon-button (click)="show(doc.docName)">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </mat-list-item>
                        </mat-nav-list>
                    </td>
                </tr>
            </table>
        </div>
        <div class="align-table">
            <table id="table-detail">
                <tr>
                    <th>De: Origen</th>
                    <th>A: Destino</th>
                    <th>En fecha</th>
                    <th>Instructivo</th>
                    <th>Firmas</th>
                </tr>
                <tr *ngFor="let detail of noteDetails">
                    <td>{{ detail.fromUserDto.userName }} <br>{{detail.fromUserDto.role}} </td>
                    <td>{{ detail.toUserDto.userName }} <br>{{detail.toUserDto.role}} </td>
                    <td>{{ detail.sendDate }} </td>
                    <td>{{ detail.instruction }}<br> ( {{ detail.comment }})</td>
                    <td>{{ detail.fromUserDto.userName }} <br>{{ detail.sendDate }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="align-button">
        <a [routerLink]="['/home']"><button mat-raised-button color="primary" *ngIf="isPreview">Descargar
                PDF</button></a>
        <a [routerLink]="['/forward', noteHeader.noteId ]"><button mat-raised-button color="primary"
                *ngIf="!isPreview">Reenviar nota</button></a>
        <a [routerLink]="['/home']"><button mat-raised-button *ngIf="!isPreview">Finalizar trámite</button></a>
    </div>

    <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Vista previa</h4>
                </div>
                <div class="modal-body">
                    <img [src]="imageData" id="imagepreview" style="width: 425px; height: 425px;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hide()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>