<div class="container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Registro de trámites</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="noteForm" (ngSubmit)="onRegister()">
                    <div class="vertical-form-field">
                        <mat-form-field appearance="standard" class="mid-width">
                            <mat-label>Fecha registro</mat-label>
                            <input matInput formControlName="currentDate" [matDatepicker]="currentDate">
                            <mat-datepicker-toggle matSuffix [for]="currentDate"></mat-datepicker-toggle>
                            <mat-datepicker #currentDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="vertical-form-field">
                        <mat-form-field appearance="standard" class="mid-width">
                            <mat-label>Rol de origen</mat-label>
                            <mat-select (selectionChange)="fromRoleHandler($event.value)" placeholder="Seleccionar rol">
                                <mat-option *ngFor="let role of roles" [value]="role.value">
                                    {{ role.display }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="noteForm.controls['fromUserId'].invalid">
                                Seleccione rol de origen
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="mid-width">
                            <mat-label>Usuario</mat-label>
                            <input matInput value="Some full name">
                        </mat-form-field>
                    </div>
                    <div class="vertical-form-field">
                        <mat-form-field appearance="standard" class="full-width">
                            <mat-label>Referencia</mat-label>
                            <input matInput formControlName="subject" placeholder="Ingrese la referencia de la nota" maxlength="100">
                            <mat-error *ngIf="noteForm.controls['subject'].invalid">
                                Ingrese la referencia de la nota
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="sub-title">
                        Instrucciones del tramite
                    </div>
                    <div class="vertical-form-field">
                        <mat-form-field appearance="standard" class="mid-width">
                            <mat-label>Prioridad del tramite</mat-label>
                            <mat-select formControlName="priority" placeholder="Seleccionar tipo residuo">
                                <mat-option *ngFor="let item of priorities" [value]="item.value">
                                    {{ item.display }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="noteForm.controls['priority'].invalid">
                                Seleccione prioridad
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="quart-width">
                            <mat-label>Nro. de días</mat-label>
                            <input matInput formControlName="days" (keyup)="daysHandler($event)" placeholder="Ingrese plazo de días" maxlength="5">
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="quart-width">
                            <mat-label>Fecha límite</mat-label>
                            <input matInput formControlName="deadLine" [matDatepicker]="picker3">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="vertical-form-field">
                        <mat-form-field appearance="standard" class="mid-width">
                            <mat-label>Instrucción</mat-label>
                            <mat-select formControlName="noteId" placeholder="Seleccionar instructivo">
                                <mat-option *ngFor="let note of instructions" [value]="note.instructionId">
                                    {{ note.instruction }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="noteForm.controls['noteId'].invalid">
                                Seleccione el instructivo del trámite
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="mid-width">
                            <mat-label>Comentario</mat-label>
                            <input matInput formControlName="comment" placeholder="Ingrese comentario del instructivo" maxlength="100">
                            <mat-error *ngIf="noteForm.controls['comment'].invalid">
                                Ingrese comentario para aclarar la instrucción
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="vertical-form-field">
                        <mat-form-field appearance="standard" class="mid-width">
                            <mat-label>Destinatario</mat-label>
                            <mat-select (selectionChange)="toRoleHandler($event.value)" placeholder="Seleccionar rol">
                                <mat-option *ngFor="let role of roles" [value]="role.value">
                                    {{ role.display }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="noteForm.controls['toUserId'].invalid">
                                Seleccione rol de destino
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="standard" class="mid-width">
                            <mat-label>Usuario</mat-label>
                            <input matInput value="User full name">
                        </mat-form-field>
                    </div>
                    <mat-card-actions>
                        <button type="submit" mat-raised-button color="primary">Registrar</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
</div>
