<mat-card>
    <mat-card-header>
        Datos del contrato de servicios
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="contractForm" (ngSubmit)="onRegister()">
            <div class="vertical-form-field">
                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>Tipo de servicio</mat-label>
                    <mat-select formControlName="serviceTypeId" (selectionChange)="serviceTypeHandler($event.value)" placeholder="Seleccionar tipo servicio">
                        <mat-option *ngFor="let type of serviceTypes" [value]="type.serviceTypeId">
                            {{ type.serviceType }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="contractForm.controls['serviceTypeId'].invalid">
                        Seleccione tipo de servicio
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="three-quart-width">
                    <mat-label>Servicio</mat-label>
                    <mat-select formControlName="serviceId" (selectionChange)="serviceOfferHandler($event.value)" placeholder="Seleccionar servicio">
                        <mat-option *ngFor="let serviceItem of serviceOffer" [value]="serviceItem.serviceId">
                            {{ serviceItem.service }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="contractForm.controls['serviceId'].invalid">
                        Seleccione el servicio requerido
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="vertical-form-field">
                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>Fecha inicio</mat-label>
                    <input matInput formControlName="initDate" [matDatepicker]="picker2" (dateInput)="dateEventHandler($event)" (dateChange)="dateEventHandler($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="contractForm.controls['initDate'].invalid">
                        Seleccione una fecha inicial válida
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>Fecha final</mat-label>
                    <input matInput formControlName="endDate" [matDatepicker]="picker3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-error *ngIf="contractForm.controls['endDate'].invalid">
                        Seleccione una fecha final válida
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>No. Meses</mat-label>
                    <input matInput formControlName="months" maxlength="2" (focus)="setTotalMonths()">
                    <mat-error *ngIf="contractForm.controls['months'].invalid">
                        Ingrese No. meses válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>No. Años</mat-label>
                    <input matInput formControlName="years" maxlength="2" (focus)="setTotalYears()">
                    <mat-error *ngIf="contractForm.controls['years'].invalid">
                        Ingrese No. de años válido
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="vertical-form-field">
                <mat-form-field appearance="standard" class="mid-width">
                    <mat-label>Tipo residuo</mat-label>
                    <mat-select formControlName="wasteId" placeholder="Seleccionar tipo residuo">
                        <mat-option *ngFor="let wasteItem of wasteTypes" [value]="wasteItem.wasteId">
                            {{ wasteItem.waste }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="contractForm.controls['wasteId'].invalid">
                        Seleccione el tipo de residuo generado
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>Volumen</mat-label>
                    <input matInput formControlName="volume" placeholder="Ingrese volumen aprox." maxlength="5">
                    <mat-error *ngIf="contractForm.controls['volume'].invalid">
                        Ingrese un valor de volumen válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>Unidad de volumen</mat-label>
                    <mat-select formControlName="unitId" placeholder="Seleccionar tipo de unidad">
                        <mat-option *ngFor="let unitItem of units" [value]="unitItem.unitId">
                            {{ unitItem.unit }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="contractForm.controls['unitId'].invalid">
                        Seleccione el tipo de unidad de volumen
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="vertical-form-field">
                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>Costo mensual</mat-label>
                    <input matInput formControlName="monthCost" (blur)="setTotalCost($event)" placeholder="Ingrese costo mensual" maxlength="8">
                    <mat-error *ngIf="contractForm.controls['monthCost'].invalid">
                        Ingrese un costo mensual válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>Monto total</mat-label>
                    <input matInput formControlName="totalCost" placeholder="Ingrese monto contractual"  maxlength="8">
                    <mat-error *ngIf="contractForm.controls['totalCost'].invalid">
                        Ingrese un monto contractual válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>Forma de pago</mat-label>
                    <mat-select formControlName="payTypeId" placeholder="Seleccionar forma de pago">
                        <mat-option *ngFor="let typeItem of paymentTypes" [value]="typeItem.payTypeId">
                            {{ typeItem.payType }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="contractForm.controls['payTypeId'].invalid">
                        Seleccione forma de pago válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>Plan de pagos</mat-label>
                    <mat-select formControlName="paymentId" placeholder="Seleccionar el plan de pagos">
                        <mat-option *ngFor="let payment of paymentFrequencies" [value]="payment.paymentId">
                            {{ payment.frequency }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="contractForm.controls['paymentId'].invalid">
                        Seleccione el plan de pagos válido
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="vertical-form-field">
                <mat-form-field appearance="standard" class="quart-width">
                    <mat-label>Plan de recojos</mat-label>
                    <mat-select formControlName="gatherId" placeholder="Seleccionar el plan de recojos">
                        <mat-option *ngFor="let gather of gatherFrequencies" [value]="gather.gatherId">
                            {{ gather.frequency }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="contractForm.controls['gatherId'].invalid">
                        Seleccione el plan de recojo de residuos
                    </mat-error>
                </mat-form-field>

                    <mat-checkbox class="check-pad-more">Lun</mat-checkbox>
                    <mat-checkbox class="check-pad">Mar</mat-checkbox>
                    <mat-checkbox class="check-pad">Mie</mat-checkbox>
                    <mat-checkbox class="check-pad">Jue</mat-checkbox>
                    <mat-checkbox class="check-pad">Vie</mat-checkbox>
                    <mat-checkbox class="check-pad">Sab</mat-checkbox>
                    <mat-checkbox class="check-pad">Dom</mat-checkbox>

            </div>

            <div class="vertical-form-field">
                <div class="row-divider">
                    <mat-divider></mat-divider>
                </div>
                <fieldset class="full-width">
                    <legend>Declaración jurada</legend>
                    <div>
                        <mat-checkbox class="no-label-field" formControlName="confirmation">
                            Yo declaro que los datos ingresados son verdaderos y acepto los términos y condiciones para
                            <br> proceder con este trámite.
                        </mat-checkbox>
                    </div>
                </fieldset>
            </div>
            <!--button type="submit" mat-raised-button color="primary">Registrar</button-->
        </form>
    </mat-card-content>
</mat-card>