<div class="paper">
    <table style="width: 100%;">
    <tr class="letra"> 
		<td>
			<strong>CONTRATO DIRECTO DE SERVICIOS DE RECOLECCION DE RESIDUOS BIO-INFECCIOSOS
			<br>Nº Contrato ** nro_contrato* - COD. **nro_cliente*</strong>
		</td>
	</tr>
	<tr> 
		<td>
		<p class="align-justify">Conste por el siguiente Contrato de suministro de servicios especiales de recolección de residuos sólidos relacionados con la gestión 
		externa de Residuos Sólidos Urbanos, conforme a las cláusulas y condiciones siguientes:<br>
		<strong>PRIMERA: (Partes)</strong>.- Son parte del presente contrato: La Empresa Municipal de Servicios de Aseo (EMSA), representada por su Gerente General Ing. Alberto Narvaez Acuña, 
		de acuerdo a la Resolución de Directorio 021/2011 de 31 de Agosto del 2011, con número de C.I. 3616649 Exp. Cbba. con domicilio legal en la Av. Villazón Km. 2 ½ 
		(carretera a Sacaba), que para efectos del presente contrato se denominara LA EMSA, y el establecimiento de salud denominado &quot;<strong>** cliente*</strong>&quot; 
		con número de NIT. <strong>** nit_cliente*</strong> representada por el(a) señor(a): <strong>**representante*</strong>, con C.I. 
		<strong>** ci_repres* ** ci_expedito*</strong>, que en adelante se denominará el USUARIO.
		</p>
		</td>
	</tr>
	<tr> 
		<td>
		<p class="align-justify"> 
		<strong>SEGUNDA: (Antecedentes)</strong>.- 		
		La  EMSA es una Empresa Pública Municipal Descentralizada de la Municipalidad de Cochabamba, con personalidad jurídica propia, Nº 007/98, de fecha 15 de ENERO DE 1998, 
		autonomía administrativa, técnica y económica conforme a Ley de Municipalidades Nº 2028 y Ordenanza Municipal 1908/97. La EMSA tiene por objeto de acuerdo al Art. 2º inciso 
		a) organizar, reglamentar, administrar y sancionar, del mismo modo de prestar el servicio de limpieza de vías y espacios de uso público, la recolección, transporte, tratamiento de reciclaje, industrialización y 
		disposición final de residuos sólidos urbanos.<br>
		En materia de gestión esterna de residuos de establecimientos de Salud, La EMSA actúa dentro el marco regulatorio de la Ley 1333 de Medio Ambiente y Reglamentos específicos, 
		la Ley 2028 de Municipalidades, Ordenanza Municipal 2859/2002, Reglamento para la Gestión de Establecimientos de Salud y Normas Bolivianas de Residuos Sólidos en Establecimientos 
		de Salud N.B. 69001 al 69007, que determinan los métodos, procedimiento y técnicas para el Manejo, Recojo, Transporte, Tratamiento y Disposición Final de los residuos 
		bio-infecciosos generados en los ESTABLECIMIENTOS DE SALUD, O.M. 4588/2013 Reglamento Municipal para la Gestión Integral de Residuos Sólidos, 
		Domiciliarios y Asimilables Generados en el Municipio de Cochabamba.		
		</p>
		</td>
	</tr>
	<tr> 
		<td>
		<strong>TERCERA: (Objeto)</strong>.- LA EMSA prestara el servicio público de: recolección, transporte, tratamiento y disposición final de los residuos generados por el
		 usuario en las Instalaciones de salud ubicada en Av./Calle/Pasaje: <strong>** dir_cliente*</strong> con número de teléfono 
		 <strong>** fono_cliente*</strong> del Municipio de Cercado de Cochabamba., En cumplimiento a la O.M. 4588/2013 y De acuerdo a la O.M. 2859/2002. 
		 Los Residuos Bio-infecciosos comprenden de modo taxativo las siguientes Sub. Clases de residuos: B1 Residuos Biológicos de Laboratorio; B2 Residuos de Sangre y 
		 Hemo Derivados; B3 Resto anatómico; B4 Residuos de Asistencia a Pacientes de Aislamiento; B5 Residuos Punzo Cortantes; B6 Restos y Animales Muertos Contaminados. 
		 EL USUARIO deberá entregar sus residuos sólidos debidamente separados, de acuerdo al Art. 11 numeral 2, de la O.M. 4588/2013 toda persona natural o jurídica tiene 
		 la obligación de separar sus residuos sólidos en origen de acuerdo a la siguiente clasificación a) Reciclables b) Biodegradables c) No aprovechables d) Peligrosos.
		</td>
	</tr>	
	<tr> 
		<td>
		<strong>CUARTA: (Frecuencia, volumen y horarios de recojo de residuos)</strong>.- LA EMSA realizara la recolección de los residuos bio-infecciosos del usuario 
		<strong>** num_recojo*</strong> vez por <strong>** frec_recojo*</strong>, en un peso aproximado de hasta 0 hasta 32 Kilogramos. Dentro los horarios laborales de la Empresa.
		</td>
	</tr>		
	<tr> 
		<td>
		<p class="align-justify">  
		<strong>QUINTA: (Régimen Tarifario)</strong>.- El USUARIO cancelara a la EMSA la suma de Bs.- <strong>** costo_mes* (** MONTO CON DECIMALES
		*)</strong> por mes, por concepto  del  Servicio Especial detallado en la cláusula cuarta. El pago deberá realizarse de modo  
		** frecuencia* de  Bs.- <strong>** costo_frec* (** MONTO CON DECIMALES *)</strong> de modo impostergable hasta treinta días calendario vencido. El monto de la tarifa podrá ser ajustado 
		en función a la cláusula cuarta por La EMSA en cumplimiento de normas legales que amparen dicha modificación; en cuyo caso 
		LA  EMSA notificara al usuario 30 días antes a la entrada en vigor del ajuste tarifario.
		</p>
		</td>
	</tr>
	<tr> 
		<td>
		<p class="align-justify">		
		<strong>SEXTA: (Plazo)</strong>.- El plazo acordado por las partes tendrá una duración de UN AÑO CALENDARIO a partir del <strong>** fecha_inicio*</strong>, 
		fecha en que entra en vigencia el contrato.Salvo el caso contemplado en la cláusula décima primera en caso de conclusión unilateral con aviso de 30 días hábiles, desde la comunicación escrita y recibida.
		</p>
		</td>
	</tr>
	<tr> 
		<td>
		<p class="align-justify">		
		<strong>SEPTIMA: (Derechos y Obligaciones del Usuario)</strong>.-  En el marco del presente contrato y al amparo de las leyes y 
		reglamentos específicos, el usuario tiene los siguientes derechos y obligaciones:
		</p>
		</td>
	</tr>
	<tr> 
		<td>
		<strong>7.1. Derechos del Usuario:</strong>
		</td>
	</tr>
	<tr> 
		<td>
		<OL type="a">
		<li>A que se le brinde un servicio eficiente, regular y continuo, bajo normas de calidad técnica.</li>
		<li>A ser tratado de modo equitativo y sin discriminación alguna respecto a los otros usuarios.</li>
		<li>A una tarifa razonable y congruente con costos de operación eficientes del servicio.</li>
		<li>A realizar peticiones y reclamos ante las instancias administrativas competentes.</li>
		<li>A acceder a la información que genere La EMSA con relación a la gestión de residuos</li>
		</OL>
		</td>
	</tr>
	<tr> 
		<td>
		<strong>7.2. Obligaciones del Usuario:</strong>
		</td>
	</tr>
	<tr> 
		<td>
		<OL type="a">
		<li>De realizar la gestión interna de los residuos bio-infecciosos conforme a las disposiciones legales, nacionales y municipales vigentes.</li>
		<li>De cumplir con las especificaciones técnicas para la entrega-recojo de residuos detallados en Norma Boliviana incisos 69001&ndash;69002&ndash;69003&ndash;69004&ndash;69005&ndash;69006&ndash;69007, y en Ordenanza Municipal 2859/2002 del Reglamento para la Gestión de Residuos de Establecimientos de Salud.</li>
		<li>De realizar la entrega de sus residuos bio-infecciosos en bolsas rojas y herméticamente cerradas, las jeringas y objetos punzo&ndash;cortantes deberán ser depositados en cajas de cartón denso o envases rígidos de plástico.</li>
		<li>De cancelar puntualmente el monto de la tarifa establecida por La EMSA.</li>
		<li>De permitir el ingreso del personal autorizado de La  EMSA a sus instalaciones, a fin de que estos verifiquen las condiciones de gestión interna de los residuos. En este caso, el personal de La EMSA deberá portar una autorización específica emitida por la autoridad competente de la empresa y acreditar con un credencial de haber realizado cursos de capacitación sobre residuos bio&ndash;infecciosos.</li>
		<li>De &quot;no mezclar y seleccionar en origen&quot; todos sus residuos bio-infecciosos para entregarlos en forma separada y específica a EMSA. Se prohíbe al usuario la mezcla y entrega de los residuos bio&ndash;infecciosos con otro tipo de residuos.</li>
		</OL>
		</td>
	</tr>	
	<tr> 
		<td>
		<p class="align-justify">		
		<strong>OCTAVA: (Derechos y Obligaciones de la EMSA)</strong>.- En el marco del presente contrato y al amparo de las leyes y reglamentos específicos, 
		La EMSA tiene los siguientes derechos y obligaciones:
		</p>
		</td>
	</tr>	
	<tr> 
		<td>
		<strong>8.1. Derechos:</strong>
		</td>
	</tr>
	<tr> 
		<td>
		<OL type="a">
		<li>A recibir puntualmente el monto de la tarifa establecido previa facturación con nota fiscal de EMSA.</li>
		<li>A fijar el programa de frecuencias y recorridos con vehículos específicos para el recojo de residuos bio infecciosos en función al interés colectivo de los usuarios, en función a criterios de eficiencia en el servicio, y a la disponibilidad de medios de transporte.</li>
		<li>A controlar el cumplimiento de las normas de gestión de residuos al interior del establecimiento del USUARIO.</li>
		<li>A realizar el ajuste de la tarifa en cumplimiento de las disposiciones legales que regulan esta modificación.</li>
		<li>A aplicar sanciones al usuario que transgreda y/o incumpla las normas de gestión de residuos, a través de la Unidad de Salud Ambiental del SEDES.</li>
		<li>A no recoger residuos sólidos que no cumplan las condiciones y especificaciones de las normas aplicables para la entrega y recojo de residuos por La EMSA.</li>
		</OL>
		</td>
	</tr>
	<tr> 
		<td>
		<strong>8.2. Obligaciones:</strong>
		</td>
	</tr>
	<tr> 
		<td>
		<OL type="a">
		<li>De prestar el servicio de gestión de residuos bio-infecciosos de modo eficiente, regular y continuo, en el marco de normas de calidad técnica.</li>
		<li>De realizar una gestión administrativa y técnica transparente. LA EMSA generara y proveerá información relacionada con la gestión de los residuos bio-infecciosos al usuario y a la sociedad civil en general.</li>
		<li>De suministrar el servicio de gestión de residuos bio-infecciosos de modo equitativo a todos los usuarios sin mediar acto discriminatorio alguno.</li>
		<li>De conocer y resolver con celeridad y oportunidad las sugerencias y reclamos planteados por el usuario.</li>
		<li>Que el personal que visite los consultorios este debidamente capacitado en el tratamiento de residuos bio infecciosos y cuente con un credencial que evidencie esa capacitación.</li>
		</OL>
		</td>
	</tr>	
</table>	

<table style="width: 100%;">	
	<tr> 
		<td>
		<p class="align-justify">		
		<strong>NOVENA: (Otorgamiento de responsabilidad)</strong>.- El usuario, en su calidad de generador de residuos bio-infecciosos es plenamente responsable 
		de la gestión interna de sus residuos y de las consecuencias directas o indirectas que puedan generar los mismos, bajo el principio de precaución. 
		Esta responsabilidad es transferida del usuario a LA EMSA en el momento del recojo de los residuos siempre y cuando el usuario haya cumplido cabalmente 
		las recomendaciones y especificaciones técnicas en general sobre la gestión interna y la entrega de los residuos a EMSA.
		</p>
		</td>
	</tr>
	<tr> 
		<td>
		<p class="align-justify">		
		<strong>DECIMA: (Especificaciones técnicas para la entrega-recojo de residuos)</strong>.- En sujeción a la cláusula tercera, el servicio 
		de gestión de residuos de EMSA solo alcanza a los residuos bio-infecciosos, generados por el Establecimiento de Salud. 
		El usuario bajo ningún motivo o circunstancia podrá mezclar los residuos bio-infecciosos con escombros, ramas de poda y 
		(entre otros sustancias toxicas, corrosivas, inflamables, materiales radioactivos, etc.) o con residuos asimilables a domiciliarios.
		</p>
		</td>
	</tr>
	<tr> 
		<td>
		<p class="align-justify">		
		<strong>DECIMA PRIMERA:(Cláusula resolutoria)</strong>.- El contrato podrá resolverse en virtud a la siguiente causal y de acuerdo 
		a las condiciones detalladas a continuación:<BR>
		</p>
		</td>
	</tr>	
	<tr> 
		<td>
		<OL type="a">
		<li>La resolución del contrato por la cláusula tercera, será procedente cuando el usuario manifieste su voluntad de cerrar la actividad económica. En este caso, el cierre formal del establecimiento será procedente siempre y cuando el usuario no posea obligaciones civiles y/o administrativas pendientes con LA EMSA.</li>
		<li>La resolución de contrato también será procedente siempre y cuando presente su plan de gestión interna, externa y un plan de contingencia para el buen manejo de residuos generados en su establecimiento de salud, aprobado por la H. Alcaldía Municipal y Homologado por el Ministerio de Salud y Previsión Social siempre y cuando el establecimiento de Salud no posea obligaciones civiles y/o administrativas pendientes con  LA EMSA.</li>
		<li>Por incumplimiento reiterado de las obligaciones del usuario estipuladas en la cláusula séptima, o por la reincidencia en la comisión de infracciones graves o muy graves establecidas en las normas nacionales y/o municipales.</li>
		<li>Por incumplimiento reiterado de las obligaciones de LA EMSA en la cláusula octava.</li>
		<li>En la causal b) precedente la resolución contractual opera de pleno derecho. En este caso, EMSA exigirá que el usuario acredite, en el termino de 48 horas a partir de la resolución del contrato, la suscripción de un nuevo contrato de suministro de servicio con un operador autorizado por el municipio; o en su caso demuestre poseer una tecnología eficaz para desactivar o neutralizar por completo los efectos negativos de sus residuos, así como la Licencia Ambiental obligatoria para desarrollar tales actividades. Si el usuario no acreditase alguno de dichos requisitos, EMSA y La Unidad de Servicio Ambiental del SEDES, en ejercicio de sus competencias legales, dispondrá la Clausura Temporal del establecimiento, hasta tanto acredite alguno de los requisitos señalados.</li> 
		<li>Cuando el Usuario haga el reclamo en tres oportunidades y estas no sean atendidas por EMSA.</li>
		<li>En todos los casos, el usuario deberá comunicar a LA EMSA su intención de resolver el contrato con una anticipación mínima de 30 días.</li>
		</OL>
		</td>
	</tr>
	<tr> 
		<td>
		<p class="align-justify">		
		<strong>DECIMA SEGUNDA: (Casos de Fuerza Mayor)</strong>.- La EMSA prestara el servicio de gestión de residuos bio-infecciosos de forma regular y continua 
		salvo en los casos siguientes, en los que no tendrá responsabilidad; fenómenos atmosféricos o naturales, conflictos sociales (paros, huelgas, bloqueos, etc.).
		</p>
		</td>
	</tr>
	<tr> 
		<td>
		<p class="align-justify">		
		<strong>DECIMA TERCERA: (Monitoreo del Servicio)</strong>.- La EMSA evaluara de modo constante los servicios prestados al usuario, 
		a fin de garantizar la eficiencia y calidad en la prestación de los mismos. El usuario podrá plantear sus reclamos o sugerencias de 
		forma escrita o a través del teléfono en los números: 4492059 &ndash; 4491888.
		</p>
		</td>
	</tr>
	<tr> 
		<td>
		<p class="align-justify">		
		<strong>DECIMA CUARTA: (Aceptación)</strong>.- Las partes intervinientes en este contrato manifiestan su plena conformidad con todas y 
		cada una de las cláusulas anteriores y en señal de aceptación suscriben al pie de este documento.
		</p>
		</td>
	</tr>	
	<tr>
		<td class="align-right">Cochabamba, ** fecha_contrato*</td>
	</tr>
	<tr class="letra_pequenia">
		<td class="align-left"><strong>Usr.:</strong>** nom_user*</td>
	</tr>
</table>
<br>

<table style="width: 100%;">
	<tr class="letra_contratos1">
		<td>E. Mariana Beltran A.<br>Jefe Servicios Especiales<br><strong>E.M.S.A.</strong></td>
		<td>Ing. Alberto Narvaez A.<br>Gerente General E.M.S.A.<br><strong>Representante Legal</strong></td>
		<td>** representante*<br>C.I. **ci_repres* ** ci_expedito*<br><strong>Representante Legal</strong></td>
		<td>A. Rafael Escobar Sanabria<br>Asesor Legal<br><strong>E.M.S.A.</strong></td>
	</tr>
	<tr class="letra_contratos1">
		<td colspan="4">&nbsp;</td>
	</tr>	
	<tr class="letra_contratos1">
		<td colspan="4"><strong>Observaciones:</strong> ** observaciones*</td>
	</tr>	
</table>    
</div>