.page {
    margin-top: 0.2rem;
    color: white;
    padding: 1rem;
    background: #f0f0f5;
    &__content {
        min-height: calc(100vh - 180px);
        border-radius: 10px;
        margin-top: 0.2rem;
        background: white;
        color: black;
        //font-size: 2rem;
        &-data {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.title {
    margin-top: 3rem;
    font-size: 26px;
    font-weight: 400;
    color: #47476b;
}

.img-card {
    padding: 30px 12px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.img-card img {
    padding: 2px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid darkslateblue;
    text-align: center;
}

.config-stepper {
    margin-top: 3px;
    width: 80%;
  }
  